<ion-view view-title="关于">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <img src="img/ionic.png" class="aboutus-logo">
    <p class="aboutus-p">Pets' Love V1.0.0</p>

    <ion-list>

      <a class="item item-icon-right" href="#">
        官方网站
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        给我评价
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        问题反馈
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </ion-list>
    <div class="aboutus-p aboutus-rights">
      <a href="#" >Pets' Love服务协议及软件许可</a>
      <p>&copy IMUDGES-_____. All Rights Reserved. </p>
    </div>
  </ion-content>
</ion-view>
