<ion-view view-title="关于">
  <ion-content>
    <img src="img/ionic.png" class="aboutus-logo">
    <p class="aboutus-p">Pets' Love V0.0.1</p>

    <ion-list>

      <a class="item item-icon-right" onclick="window.open('http://www.baidu.com', '_blank', 'location=yes')">
        官方网站
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" onclick="window.open('http://www.itunes.com', '_blank', 'location=yes')">
        给我评价
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a href="mailto:hanyuzhou@imudges.com?subject=问题反馈&body=%0d%0a%0d%0a%0d%0a来自Pets'Love宠爱应用%0d%0a" class="item">
        问题反馈
        <span class="item-note">
          products@imudges.com
        </span>
      </a>

    </ion-list>
    <div class="aboutus-p aboutus-rights">
      <a href="#" >Pets' Love服务协议及软件许可</a>
      <p>&copy IMUDGES. All Rights Reserved. </p>
    </div>
  </ion-content>
</ion-view>
