<ion-view hide-nav-bar="true">
  <ion-content>
    <img src="img/ionic.png" alt="logo" class="create-account-logo">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">昵称</span>
        <input type="text" placeholder="昵称" ng-model="data.nickname">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">邮箱</span>
        <input type="email" placeholder="Email" ng-model="data.mail">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">密码</span>
        <input type="password" placeholder="密码" ng-model="data.password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">再次输入密码</span>
        <input type="password" placeholder="再次输入密码" ng-model="data.passwordconfirm">
      </label>
    </div>
    <div class="row padding-top">
      <button class="button button-outline button-positive col col-80 col-offset-10 button-small" ng-click="register()">注册</button>
    </div>
    <p class="create-account-p">注册即表明你同意Pets'Love的条款和隐私权政策.</p>
    <div class="row">
      <button class="button button-clear button-positive col-offset-33 col-33" ng-click="turnlogin()">登陆账号</button>
      <button class="button button-clear button-positive  col-33" ng-click="turndash()">主页</button>
    </div>
  </ion-content>
</ion-view>
