<ion-view ng-controller="forget1">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        找回密码
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">邮箱</span>
            <input type="email" placeholder="请输入邮箱" ng-model="youxiang">
          </label>
        </div>
        <p>此邮箱未注册或输入有误</p>
        <button class="button button-block button-positive" ng-click="step1()" ng-disabled="!youxiang.length">
          确认
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
