<ion-view ng-controller="ForgetPwdCtrl">
  <div class="card">
    <div class="item item-divider">
      你的手机 {{}} 将会收到一封包含验证码的短信
    </div>
    <div class="item item-text-wrap">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">输入验证码</span>
          <input type="text" placeholder="请输入验证码" ng-model="re-code">
        </label>
      </div>
      <button class="button button-block button-positive">
        确认
      </button>
    </div>
  </div>
</ion-view>
