<ion-view ng-controller="LoginCtrl" hide-nav-bar="true">
  <ion-content>
    <img src="img/ionic.png" alt="logo" class="create-account-logo">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">邮箱</span>
        <input type="email" placeholder="邮箱" ng-model="data.mail">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">密码</span>
        <input type="password" placeholder="密码" ng-model="data.password">
      </label>
    </div>

    <div class="row padding-bottom">
      <button class="button button-outline button-positive col col-80 col-offset-10 button-small" ng-click="login()">登陆我的账户</button>
    </div>
    <div class="row padding-top">
      <button class="button button-clear button-positive col-offset-10 col-33" ng-click="turncreate()">快速注册</button>
      <button class="button button-clear button-positive col-offset-10 col-33" ng-click="turnforget()">忘记密码</button>
    </div>
  </ion-content>
  </ion-view>
