<ion-view>
  <ion-content ng-controller="CreateAccountCtrl">
    <img src="img/ionic.png" alt="logo" class="create-account-logo">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="createemail">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="createpwd1">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password Again</span>
        <input type="password" placeholder="Password Again" ng-model="createpwd2">
      </label>
      <div >
        <p class="create-account-p" ng-show="false">密码两次输入不相同</p>
        <button class="button button-full button-positive" ng-disabled="createerror|| incomplete" ng-click="">Submit</button>
      </div>
    </div>
    <p class="create-account-p">注册即表明你同意Pets'Love的条款和隐私权政策.</p>
    <button class="button button-full button-positive" ng-hide="!(createerror|| incomplete)" ng-click="turn()">
      没有账号？ 注册
    </button>
  </ion-content>
</ion-view>
