<ion-view view-title="我的关注">
  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="myfollow in following" type="item-text-wrap" href="#">
        <img ng-src="{{myfollow.face}}">
        <h2>{{myfollow.account}}</h2>
        <p>{{myfollow.mail}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(myfollow)">
          取消关注
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
