<ion-view view-title="我的">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>

      <a class="item item-thumbnail-left item-icon-right" href="#">
        <img src="img/ionic.png">

        <h2 style="margin-top: 10px">Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-paw-outline"></i>
        我的宠物
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-personadd-outline"></i>
        关注
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-people-outline"></i>
        粉丝
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-gear-outline"></i>
        设置
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left item-icon-right" href="#/aboutus">
        <i class="icon ion-ios-information-outline"></i>
        关于
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </ion-list>

    <button class="button button-full button-assertive">
      退出登录
    </button>

  </ion-content>
</ion-view>
