<ion-view view-title="宠物" ng-controller="ReleaseCtrl">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="addPet()"> 添加 </a>
  </ion-nav-buttons>
  <ion-content style="background-color: rgb(242,242,242)">

    <div class="card" ng-hide="pets.length" style="margin-top: 10%">
      <div class="item item-text-wrap">
        还没有宠物，快来添加！
      </div>
    </div>

    <div class="list card" ng-repeat="pet in pets">

      <div class="item item-avatar">
        <img src="{{pet.url}}">
        <h2>{{pet.name}}</h2>
        <p>{{pet.about}}</p>
          <a class="subdued" ng-href="#/tab/petDetail/{{$index}}">
            <i class="icon ion-ios-list-outline"></i>
            更多
          </a>
      </div>

    </div>
  </ion-content>
</ion-view>
