<ion-view view-title="我的">
  <ion-content style="background-color: rgb(245,245,245)">
    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right" href="#/tab/account/userProfile">
        <img src="{{userInfo.photo}}">
        <h2 style="margin-top: 10px">{{userInfo.id}}</h2>
        <p>{{userInfo.bio}}</p>
        <i class="icon ion-ios-compose-outline"></i>
      </ion-item>

      <div class="item item-divider item-gap"></div>


      <ion-item class="item item-icon-left item-icon-right" href="#/tab/account/myFollowing">
        <i class="icon ion-ios-personadd-outline"></i>
        关注
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" href="#/tab/account/myFollower">
        <i class="icon ion-ios-people-outline"></i>
        粉丝
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="item item-divider"></div>

      <ion-item class="item item-icon-left item-icon-right" href="#/tab/account/mysettings">
        <i class="icon ion-ios-gear-outline"></i>
        设置
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="item item-divider item-gap"></div>

      <ion-item class="item item-icon-left item-icon-right" href="#/tab/account/aboutus">
        <i class="icon ion-ios-information-outline"></i>
        关于
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <button class="button button-full button-assertive" ng-click="logout()">
      退出登录
    </button>
  </ion-content>
</ion-view>
