<ion-view view-title="Pets' Love" style="background-color: #FF9800">
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="toSearch()">
      <span class="icon ion-ios-search-strong"></span>
    </a>
  </ion-nav-buttons>
  <ion-content>

    <ion-slide-box does-continue="true" auto-play="true" show-pager="ture">
      <ion-slide>
        <img src="{{slides.url1}}" height="200px" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="{{slides.url2}}" height="200px" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="{{slides.url3}}" height="200px" width="100%">
      </ion-slide>
    </ion-slide-box>

    <!--<ion-slide-box does-continue="true" auto-play="true" show-pager="ture">
      <ion-slide ng-repeat="slide in slides">
        <img src="{{slide.photoUrl}}" height="200px" width="100%">
      </ion-slide>
    </ion-slide-box>-->

    <h3 style="color: white; margin-top: 6%; margin-left: 5%">
      <i class="icon ion-bookmark"></i>
      萌宠推荐
    </h3>

    <div class="list">

      <div class="item item-body" style="margin:3% 0;background-color: rgb(249,249,249)" ng-repeat="petRecommend in allPetRecommend">
        <div>
          <h2 style="color: rgb(113,113,113);font-weight: bolder">{{petRecommend.p_name}}</h2>
          <p style="color: #BDBDBD">{{petRecommend.p_age}}岁 {{petRecommend.p_sex}} {{petRecommend.p_type}} {{petRecommend.p_detail_type}}</p>
        </div>
        <img ng-src="{{petRecommend.p_img}}" style="width: 50%; margin-left: 25%">
        <p>{{petRecommend.p_about}}</p>
        <div class="item item-avatar">
          <img ng-src="{{petRecommend.h_photo}}">
          <div class="row">
            <div class="col-80">
              <h2 style="margin-top: 0px;margin-bottom: 0px">主人 {{petRecommend.h_account}}</h2>
              <h2 style="margin-top: 0px;margin-bottom: 0px">电话 {{petRecommend.h_call}}</h2>
              <h2 style="margin-top: 0px;margin-bottom: 0px">邮箱 {{petRecommend.h_email}}</h2>
            </div>
            <div class="col-20">
              <i class="icon ion-ios-person button button-light" ng-click="toFollow(petRecommend.host_id)"></i>
              <br>
              <i class="icon ion-ios-person-outline button button-light" ng-click="unFollow(petRecommend.host_id)"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
